.chat-toggle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #C29DC2;
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    line-height: 40px;
    transition: transform 0.3s;
}

.chat-toggle-button:hover {
    transform: scale(1.1);
}

/* Drawer chat container */
.global-chat-container {
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 350px;
    max-height: 70vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 999;
}

.global-chat-container.hidden {
    display: none;
}
