/* the initial font */
/* maybe change if teammate didn't like it */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Pixelify+Sans:wght@400..700&display=swap');

* {
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    background-color: #A7E6FF;
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    
}
header {
    background-color: #3572EF;
    padding: 15px;
    box-shadow: 0px 2px 15px  #050C9C;
}
.headerDiv{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    max-width: 1200px;
    margin: 0 auto;
}
.Project-Name a{
    font-size: 35px;
    font-weight: 600;
    color: #A7E6FF ;
    text-decoration: none;
}
nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20;
}

nav ul li{
    list-style: none;
}

nav ul li a {
        color: #A7E6FF;
        font-size: 18px;
        font-weight: bold;
        margin-right: 25px;
        text-decoration: none;
    }

nav ul li a:hover {
    text-decoration: underline;
}

.Headerbutton{
    background-color: #A7E6FF ;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width:90px ;
    cursor: pointer;
}
Headerbutton a{
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

main{
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #3572EF; 
    color: #A7E6FF; 
    text-align: center;
    padding: 10px;   
    box-shadow: 0px -2px 15px #050C9C;
}
footer p {
    font-size: 20px;
    margin: 0;
}

/* ----------------- register-login Style ------------------*/
.register-login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}


.register-login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background: #3ABEF9;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.title {
    font-size: 28px;
    color: #050C9C;
    font-weight: 600;
    letter-spacing: 0.3px;
    position: relative;
    text-align: center;
}
.message, .signin {
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.signin a {
    color: #3572EF;
    text-decoration: none;
    transition: 0.3s;
}
.signin a:hover{
    color: #050C9C;
}

.form-group {
    display: flex;
    width: 100%;
    gap: 6px;
}
.register-login-form label {
    position: relative;
}
.register-login-form label input {
    width: 100%;
    padding: 10px 10px 20px 20px;
    outline: none;
    border: none;
    border-radius: 10px;
}
.register-login-form label input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: #24323d ;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.register-login-form label input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}

.register-login-form label input:focus + span,
.register-login-form label input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}
.register-login-form label input:valid + span {
    color: #050C9C;
}
.register-login-form label .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #24323d;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.submitregister-login {
    border: none;
    outline: none;
    background: #3572EF;
    padding: 10px;
    border-radius: 10px;
    color: #A7E6FF;
    font-size: 16px;
    transform: 0.3s ease;
    cursor: pointer;
}
.submitregister-login:hover {
    background: #050C9C;
    transition: 0.3s;
}

/* ----------------End Of Register Style ------------------- */