<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/Css/styles.css">
        <!-- title will changed later-->
        <title>Main Page</title>
    </head>

    <body>
        <script src="/Js/app.js"></script>
        <!-- the header is static between all pages except log in
        Note: we need to find a solution for log in page for header
        Maybe we can use {if log-in} {end} 
        -->
        <header>
            <div class="headerDiv">
                <div class="Project-Name"><a href="/">Real-Time Forum</a></div>
                <nav>
                <ul>
                    <li><a href="/Create"> Create Post</a></li>
                    <li><a href="/Direct">messages</a></li>
                    <button><a href="/logout">Log out</a></button>
                </ul>
                </nav>
                <!-- <h1 class="UserName">hashem</h1> -->
            </div>
        </header>
        
        <main id="content">
                <!-- Dynamic contant-->
        </main>
        
        <footer>
            <p>&copy; 2025 Greatest Real-Time Forum .All rights reserved</p>
        </footer>
    </body>

</html>